@import "bootstrap";

@font-face {
   font-family: 'Major Mono Display';
   src: url('MajorMonoDisplay-Regular.ttf');
}

@font-face {
   font-family: 'Barlow';
   src: url('Barlow-Light.ttf');
}

* {
   text-align: center;
   font-family: 'Barlow', sans-serif;
   color: white;
}

body {
   background-color: rgb(0, 23, 31) !important;
}

h2 {
   padding-top: 30px;
   text-align: center;
}

input {
   color: black !important;
}

.three-column-container {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   margin: 20px;

}

@media (max-width: 1000px) {

   .three-column-container,
   aboutus {
      grid-template-columns: repeat(2, 1fr);
   }
}

@media (max-width: 650px) {

   .three-column-container,
   aboutus {
      grid-template-columns: repeat(1, 1fr);
   }
}

@media (max-width: 450px) {

   .three-column-container,
   moods {
      grid-template-columns: repeat(2, 1fr);
   }
}

.three-column-item {
   margin: 30px;
   display: flex;
   justify-content: center;
}

/* ------------Devise------------ */

a {
   color: white !important;
   text-decoration: none;
   margin: 0 auto;
}

.devise-title,
form,
.links {
   margin: auto;
}

.devise-body {
   display: flex !important;
   justify-content: center !important;
   flex-direction: column !important;
   margin: 40px auto;
   padding: 20px;
   width: fit-content;
   background-color: rgb(181, 65, 84);
   border-radius: 25px;
}

.actions,
.field,
.links {
   margin: 15px;
}

.links {
   color: black !important;
}

/* ------------Navigation------------ */

.navbar {
   padding-bottom: 0;
   padding: 1em 0;
   border-bottom: 2px solid rgb(181, 65, 84);
   background-color: rgb(0, 23, 31);
   position: relative;
   z-index: 100000;
}

.nav-logo {
   font-family: 'Major Mono Display', monospace;
   font-size: 2.3rem;
   text-decoration: none;
}

.nav-link {
   font-size: 1.1rem;
}

/* ------------HomePage Animation------------ */

.container {
   position: relative;
   z-index: 100;
}

.particles {
   position: fixed;
   width: 100%;
   z-index: -1000;
}

.centered-button {
   padding-top: 90px;
   text-align: center;
   justify-content: center;

}

/* ------------About Us------------ */

.aboutus-description {
   color: rgb(0, 23, 31) !important;
}

.aboutus-icons-bg {
   background-color: rgb(181, 65, 84) !important;
   border-radius: 50%;
   margin: 13px;
   padding: 14px 8px;
}

.aboutus-name {
   color: rgb(181, 65, 84) !important;
}

/* ------------Song New------------ */

.form-new {
   justify-content: center;
   flex-direction: column;
   display: flex;
   align-items: center;
   width: 400px !important;
}

.song-form {
   flex-direction: column;
   display: flex;
   align-items: center;
   width: 400px !important;
}

/*-----Song Edit ---- */
.form-edit {
   justify-content: center;
   flex-direction: column;
   display: flex;
   align-items: center;
   width: 400px !important;
}

.song-edit {
   flex-direction: column;
   display: flex;
   align-items: center;
   width: 400px !important;
}

.song-edit-img {
   color: black;
   flex-direction: column;
   display: flex;
   align-items: center;
   width: 100%;
   padding: 20px;
}

.song-edit-btn {
   width: 400px;
   display: flex;
   margin: auto;
   justify-content: space-between;
}