@import "bootstrap";

@font-face {
   font-family:'Major Mono Display';
   src: url('MajorMonoDisplay-Regular.ttf');
}

@font-face {
   font-family: 'Barlow';
   src: url('Barlow-Light.ttf');
}

@font-face {
   font-family: 'Bungee Shade';
   src: url('BungeeShade-Regular.ttf');
}

* {
   font-family: 'Barlow', sans-serif;
   color: white;
}

body{
   background-color: rgb(0,23,31) !important;
}

h2 {
   margin-top: 30px;
   text-align: center;
}

input {
   color: black !important;
}

@media (max-width: 1000px) {
   .three-column-container, aboutus {
      grid-template-columns: repeat(2, 1fr);
   }
}

@media (max-width: 650px) {
   .three-column-container, aboutus {
      grid-template-columns: repeat(1, 1fr);
   }
}

@media (max-width: 450px) {
   .three-column-container, moods {
      grid-template-columns: repeat(2, 1fr);
   }
}

/* ------------Devise------------ */

a {
   color: white !important;
   text-decoration: none;
   margin: 0 auto;
}

.devise-title, form, .links {
   margin: auto;
}

.devise-body {
   display: flex !important;
   justify-content: center !important;
   flex-direction: column !important;
   margin: 40px auto;
   padding: 20px;
   width: fit-content;
   background-color: rgb(181, 65, 84);
   border-radius: 25px;
}

.actions, .field, .links {
   margin: 15px;
}

.links {
   color: black !important;
}

/* ------------Navigation------------ */

.navbar {
   padding-bottom: 0;
   padding: 1em 0;
   border-bottom: 2px solid rgb(181, 65, 84);
   background-color: rgb(0,23,31);
   position: relative;
   z-index: 100000;
}

.nav-logo {
   font-family: 'Major Mono Display', monospace;
   font-size: 2.3rem;
   text-decoration: none;
}

.nav-link {
   font-size: 1.1rem;
}

/* ------------Home Page------------ */

.container {
   position: relative;
   z-index: 100;
}

.particles {
   position: fixed;
   width: 100%;
   z-index: -1000;
}

.centered-button {
   padding-top: 90px;
   text-align: center;
   justify-content: center;

}

.home-btn {
   margin: -0.1rem;
}

.home-btn {
   margin: 20px;
   border: 2px solid;
   border-color: rgb(181, 65, 84);
   border-radius: 1rem;
   overflow: hidden;
   justify-content: center;
   // width: 40%;
   // height: 70%;
}

.home-btn:hover {
   background-color: rgb(181, 65, 84);
   transition: all 0.4s ease-out;
}

.home-btn-container {
   display: flex;
   justify-content: center;
}

.the-home-text {
   font-family: 'Bungee Shade', cursive;
   font-size: 2.2rem;
   text-align: center;
   vertical-align: middle;
   margin: 1rem;
}


/* ------------About Us------------ */

.aboutus-description {
   color: rgb(0,23,31) !important;
}

.aboutus-icons-bg {
   background-color:rgb(181, 65, 84) !important;
   border-radius: 50%;
   margin: 13px;
   padding: 14px 8px;
}

.aboutus-name {
   color: rgb(181, 65, 84) !important;
}

.about-photo {
   height: 80%;
}

/* ------------Moods------------ */

.three-column-container {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   margin: 20px;
}

.three-column-item {
   display: flex;
   justify-content: center;
   margin: 70px;
}

button {
   width: 100px;
   height: 70px;
   
}

.mood-btn {
   margin: -0.1rem;
}

.mood-btn-container {
   border: 1px solid transparent;
   border-radius: 1rem;
   overflow: hidden;
   height: 80px;
}

.title-container {
   background:rgb(181, 65, 84);
   border: 1px solid transparent;
   border-radius: 1rem;
   overflow: hidden;
   padding: 1rem;
   height: 80%;
}

.mood-btn-container:hover {
   background-color: rgb(181, 65, 84);
   transition: all 0.4s ease-out;
}

.the-mood-text {
   font-family: 'Bungee Shade', cursive;
   font-size: 2.2rem;
   text-align: center;
   vertical-align: middle;
   margin: 1rem;
}

/* ------------Song Cards------------ */

.song-column-container {
   display: grid;
   grid-template-columns: repeat(4, 1fr) ;
   margin: 20px;
}

.song-item-container {
   display: flex;
   justify-content: center;
}

.song-column-item {
   display: flex;
   flex-direction: column;
   padding: 17px;
   margin: 20px;
   background-color: rgb(33, 48, 63);
   border-radius: 20px;
   width: min-content;
}

.song-column-item:hover {
   background-color: rgb(60, 90, 120);
   transition: all 0.2s ease-out;
}

.song-card-body {
   margin: 6px;
}

.song-image {
   margin: auto;
}

.back-to-mood-button {
   width: 100px;
   height: 60px;
   margin-top: 10px;
   margin-left: 10px;
   text-align: center;
}

.btm-button-text {
   text-align: center;
}

@media (max-width: 1000px) {
   .song-column-container {
      grid-template-columns: repeat(3, 1fr);
   }
}

@media (max-width: 750px) {
   .song-column-container {
      grid-template-columns: repeat(2, 1fr);
   }
}

@media (max-width: 525px) {
   .song-column-container {
      grid-template-columns: repeat(1, 1fr);
   }
}

/* ------------Song Show Elements------------ */

.back-to-song-btn {
   width: 100px;
   height: 60px;
   margin-top: 10px;
   margin-left: 10px;
   text-align: center;
}