@import "bootstrap";

@font-face {
   font-family: 'Major Mono Display';
   src: url('MajorMonoDisplay-Regular.ttf');
}

@font-face {
   font-family: 'Barlow';
   src: url('Barlow-Light.ttf');
}

* {
   font-family: 'Barlow', sans-serif;
   color: white;
}

body {
   background-color: rgb(0, 23, 31) !important;
}

h2 {
   padding-top: 30px;
   text-align: center;
}

input {
   color: black !important;
}


.three-column-container {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   margin: 20px;

}

@media (max-width: 1000px) {
   .three-column-container,
   aboutus {
      grid-template-columns: repeat(2, 1fr);
   }
}

@media (max-width: 650px) {
   .three-column-container,
   aboutus {
      grid-template-columns: repeat(1, 1fr);
   }
}

@media (max-width: 450px) {
   .three-column-container,
   moods {
      grid-template-columns: repeat(2, 1fr);
   }
}

/* ------------Devise------------ */

a {
   color: white !important;
   text-decoration: none;
   margin: 0 auto;
}

.devise-title,
form,
.links {
   margin: auto;
}

.devise-body {
   display: flex !important;
   justify-content: center !important;
   flex-direction: column !important;
   margin: 40px auto;
   padding: 20px;
   width: fit-content;
   background-color: rgb(181, 65, 84);
   border-radius: 25px;
}

.actions,
.field,
.links {
   margin: 15px;
}

.links {
   color: black !important;
}

/* ------------Navigation------------ */

.navbar {
   padding-bottom: 0;
   padding: 1em 0;
   border-bottom: 2px solid rgb(181, 65, 84);
   background-color: rgb(0, 23, 31);
   position: relative;
   z-index: 100000;
}

.nav-logo {
   font-family: 'Major Mono Display', monospace;
   font-size: 2.3rem;
   text-decoration: none;
}

.nav-link {
   font-size: 1.1rem;
}

/* ------------Home Page Animation------------ */

.container {
   position: relative;
   z-index: 100;
}

.particles {
   position: fixed;
   width: 100%;
   z-index: -1000;
}

.centered-button {
   padding-top: 90px;
   text-align: center;
   justify-content: center;

}

/* ------------About Us------------ */

.aboutus-description {
   color: rgb(0, 23, 31) !important;
}

.aboutus-icons-bg {
   background-color: rgb(181, 65, 84) !important;
   border-radius: 50%;
   margin: 13px;
   padding: 14px 8px;
}

.aboutus-name {
   color: rgb(181, 65, 84) !important;
}

/* ------------Song New------------ */

.form-new {
   justify-content: center;
   flex-direction: column;
   display: flex;
   align-items: center;
   width: 400px !important;
}

.song-form {
   flex-direction: column;
   display: flex;
   align-items: center;
   width: 400px !important;
}

/* ------------Song Edit------------ */
.form-edit {
   justify-content: center;
   flex-direction: column;
   display: flex;
   align-items: center;
   width: 400px !important;
}

.song-edit {
   flex-direction: column;
   display: flex;
   align-items: center;
   width: 400px !important;
}

.song-edit-img {
   color: black;
   flex-direction: column;
   display: flex;
   align-items: center;
   width: 100%;
   padding: 20px;
}

.song-edit-btn {
   width: 400px;
   display: flex;
   margin: auto;
   justify-content: space-between;
}

.modal-title {
   color: black;
}

/* ------------Moods------------ */

.three-column-container {
   display: grid;
   grid-template-columns: repeat(3, 1fr) ;
   margin: 20px;
}

.three-column-item {
   display: flex;
   justify-content: center;
}


/* ------------Song Cards------------ */

.song-column-container {
   display: grid;
   grid-template-columns: repeat(4, 1fr) ;
   margin: 20px;
}

.song-item-container {
   display: flex;
   justify-content: center;
}

.song-column-item {
   display: flex;
   flex-direction: column;
   padding: 17px;
   margin: 20px;
   background-color: rgb(33, 48, 63);
   border-radius: 20px;
   width: min-content;
}

.song-column-item:hover {
   background-color: rgb(60, 90, 120);
   transition: all 0.2s ease-out;
}

.song-card-body {
   margin: 6px;
}

.song-image {
   margin: auto;
}

@media (max-width: 1000px) {
   .song-column-container {
      grid-template-columns: repeat(3, 1fr);
   }
}

@media (max-width: 750px) {
   .song-column-container {
      grid-template-columns: repeat(2, 1fr);
   }
}

@media (max-width: 525px) {
   .song-column-container {
      grid-template-columns: repeat(1, 1fr);
   }
}

/* ------------Song Show / Media Player------------ */

.song-show-container {
   display: flex;
   flex-direction: row;
   margin: 3em 4em;
}

.song-show-img {
   width: 300px;
   height: 300px;
}

.song-show-info {
   padding: 1em 2em;
}

.song-show-title {
   position: relative;
   min-height: 200px;
}

.song-show-subtitle {
   position: relative;
   bottom: 0;
   left: 0;
}

@media (max-width: 600px) {
   .song-show-container, .media-controls {
      flex-direction: column;
   }
   .song-show-title {
      min-height: fit-content;
   }
   .song-show-img {
      width: 275px;
      height: 275px;
   }
}

.media {
   margin: 2.6em 2.4em;
}

.media-controls {
   // margin:  10vh 15vw;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 8px;
}

.seekbar {
   width: 100%
}

.volume {
   width: 70%;
}

.song-time {
   display: flex;
   flex-direction: row;
}

@mixin btn-border-drawing($color: #ccc, $hover: black, $width: 2px, $vertical: top, $horizontal: left, $duration: 0.25s) {
   box-shadow: inset 0 0 0 $width $color;
   color: $color;
   transition: color $duration $duration/3;
   position: relative;

   &::before,
   &::after {
      border: 0 solid transparent;
      border-radius: 6px;
      box-sizing: border-box;
      content: '';
      pointer-events: none;
      position: absolute;
      width: 0; height: 0;
      #{$vertical}: 0;
      #{$horizontal}: 0;
   }

   &::before {
      $h-side: if($horizontal == 'left', 'right', 'left');
      border-#{$vertical}-width: $width;
      border-#{$h-side}-width: $width;
   }

   &::after {
      $v-side: if($vertical == 'top', 'bottom', 'top');
      border-#{$v-side}-width: $width;
      border-#{$horizontal}-width: $width;
   }

   &:hover {
      color: $hover;

      &::before,
      &::after {
         border-color: $hover;
         transition: border-color 0s, width $duration, height $duration;
         width: 100%;
         height: 100%;
      }

      &::before { transition-delay: 0s, 0s, $duration; }
      &::after { transition-delay: 0s, $duration, 0s; }
   }
}

   .draw-border {
      @include btn-border-drawing(rgb(181, 65, 84), rgb(60, 90, 120), 2px, bottom, right);
   }

   .animate-btn {
      background: none;
      border: none;
      cursor: pointer;
      line-height: 1.5;
      font: 700 0.8rem 'Roboto Slab', sans-serif;
      padding: 0.75em 1em;
      letter-spacing: 0.05rem;
      border-radius: 6px;
}
